body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

.container{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th{
    background-color: darkblue;
    color: aliceblue;
}

tr{
    background-color: rgb(209, 255, 255);
}

tr:nth-child(even){
    background-color: rgb(150, 202, 255);
}